* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hiddenn!important;
}
.padding-left-right{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.mlr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.container {
  width: 90%;
}
.home-about{
  padding-top: 11px;
  /* opacity: 65%;  */
  padding-bottom: 4px;
}


@media screen and (max-width:700px) {
  .container {
    width: 97%;
  }
}

.nav-home {
  display: flex;
  justify-content: start;
  flex-direction: row;
  list-style-type: none;
  column-gap: 20px;
}
.nav-home-english {
  display: flex;
  justify-content: start;
  flex-direction: row;
  list-style-type: none;
  column-gap: 20px;
}

.nav-home .nav-12 {
  display: flex;
  justify-content: start;
  flex-direction: row;
  list-style-type: none!important;
  column-gap: 20px;
  font-weight: 100;
  /* padding-top: 5px; */
}

.FAQ {
  position: relative;
}

.drop_down_container{
  display: none;
}
.FAQ:hover .drop_down_container {
  display: block;
  position: absolute;
 /* opacity: 100%!important; */
  display: block;
  position: absolute;
  width: 100px;
  background-color: rgb(22, 5, 207);
  z-index: 9999;
 
  padding: 5px 11px 16px 11px;
  
/* text-align: center */
}

.FAQ .drop_down_container .drop_down {
  display:block ;
  list-style-type: none;
  color: aliceblue;
  /* text-align: center; */
  border-bottom:1px solid white ;


}
.FAQ .drop_down_container .drop_down li a{
  color: rgb(255, 255, 255) !important;
}
.FAQ .drop_down_container , .drop_down li{
padding-top: 5px;
padding-bottom: 5px;
/* padding-left: 10px;
padding-right: 10px; */
  /* text-align: center; */
  padding-right: 1px;
  border-bottom:1px solid white ;
}
.FAQ .drop_down_container , .drop_down li:last-child{
  border-bottom: none;
}
/* .FAQ .drop_down_container .drop_down li a{
  color: aliceblue;
  text-decoration: none;
}
 .drop_down .ancher-all-manu:hover{
  color: aliceblue;
  font-weight: bold;
} */

.nav-home ul li i{
padding-right: 4px;
}
.nav-home ul li a {
  color: black;
}

.nav-english {
  justify-content: center;
}

.nav-menu {
  justify-content: end;
  font-weight: 100;
}
/* *************moblie-screen-nav********** */
@media screen and (max-width:1218px) {
  .home-about {
    display: none;
  }

  .nav-sec {
    background-color: blue;
  }
  .mobile-row {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;

   
}

  }



@media screen and (min-width:1219px) {
  .nav-sec {
    background-color: aliceblue;
  }

  .mobile-nav {
    display: none;
    word-spacing: 10px;
  }
 

}
.fa-user-login{
  padding-left: 5px;
    padding-right: 5px;
}
/* @media screen and (max-width:767px) {
  .mobile-row {
    display: flex;
    justify-content: space-evenly;
  }

} */

.mobile-nav ul {
  display: flex;
  list-style-type: none;
  column-gap: 10px;
  color: aliceblue;
}

.nav-mobile-us ul {
  display: flex;
  justify-content: end;

}
.mobile-nav ul li a{
  color: white;
}

/* **********jurnal******** */
 .jurnal {
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.login ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  column-gap: 20px;
  font-size: 18px;
}

.o-items ul {
  justify-content: end;
}
.login ul li p a {
  color: black;
  opacity: 75%;
}
.login ul li {
  text-align: center;
}

.search ul li input {
  width: 450px !important;
  outline: none;
  height: 35px;
}

.search ul li {
  display: flex;
  /* align-items: center; */
}

.search ul li p {
  background-color: #0000ffb5;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: aliceblue;
}
.search ul li p a{
  text-decoration: none;
  color: white;
  padding-right:7px
}
.for-all-drop-down{

  margin-top: 36px;
 width: 150px!important;

}
.o-items i {
  background-color: blue;
  color: aliceblue;
  font-size: 20px;
  width: 30px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptb-100 {
  padding-top: 10px;
  /* padding-bottom: px; */
}

.bg-grey {
  background-color: rgba(219, 219, 220, 0.933);
}

.row-jurnal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
    padding-bottom: 5px;
    overflow-x: hidden;
}
.search{
  padding-left: 50px;
  padding-bottom: 10px;
}
.login .show-login{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1121px) and (max-width:1199px){
.padding-left-right-container{
  padding-left: 0px;
  padding-right: 0px;
}
.row-jurnal{
  margin-left: -13px;
  margin-right: -13px;
}
.mobile-nav{
  margin-left: -15px;
  margin-right: -15px;
}
.o-items ul li:first-child{
  font-size: 14px !important;
}
.login ul{
  font-size: 14px !important;
}
}
@media screen and (max-width:1460px) {
  .search ul li input {
    width: 300px!important;
    height: 35px!important;
  }

  .o-items ul li {
    font-size: 15px;
  }

  .o-items i {

    color: rgb(250, 247, 247);
    padding: 5px;
    /* background-color: rgb(246, 236, 221); */
  }

  .login ul {
    font-size: 15px;
  }
}
@media screen and (max-width:1582px){
  .search ul li input {
    width: 356px!important;
    height: 40px!important;
  }
}
@media screen and (max-width:1306px){
  .search ul li input {
    width: 211px!important;
    height: 40px!important;
  }
}

@media screen and (max-width:1120px) {
  .row-jurnal {
    overflow-x: hidden;
    display: none;
  }

  .mo-jurnal {
    padding-left: px;
  }

  .blue-line {
    display: none;
  }
}

.mobile-jurnal {
  font-size: 40px;
  font-weight: bolder;
}

.mobile-row-jp {
  display: flex;
  /* column-gap: 50px; */
  justify-content: space-between;
}

.search-mobile ul {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  font-size: 20px;
}

.search-mobile {
  display: flex;
  align-items: center;
}

@media screen and (min-width:1121px) {
  .mobile-row-jp {
    display: none;
  }
}
.search ul li input {
  width: 500px;
  height: 44px;
  padding-left: 5px;
}
.search p:first-child    {
  border-radius: 5px 0 0 5px !important; 
}
.search p:last-child{
  border-radius: 0 5px 5px 0;
}
/* ********show-result-sec********** */
.show-result{
  padding-top: 20px;
}
.show-result-div-sec {
  width: 299px;
  /* padding-top: 20px; */
  border: 1px solid black;
  /* height: 500px; */
  height: 380px;
  margin: 20px;
}
.show-result-div-sec img {
  width: 100%;
  height: 190px;
  /* object-fit: co; */
  object-fit: cover;
}
.show-result{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.show-result-cart{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.show-result-cart div i{
  font-size: 20px;
}
.cart-container-show{
  padding: 10px;
}

/* ******************* */
.blue-line {
  background-color: blue;
  background-color: #0000ffb5;

}
.all-dev {
  padding-top: 3px;
  padding-bottom: 5px;
}

.all-dev ul {
  display: flex;
  /* justify-content: center; */
  list-style-type: none;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  color: aliceblue;
  padding-top: 15px;
  /* padding-bottom: 7px; */
}

/* .all-dev ul li{
    display: flex;

    align-items: center;
   } */
.multi ul {
  justify-content: start;
  column-gap: 30px;
}

.blog ul {
  justify-content: end;
}

.bg-yellow {
  background-color: yellow;
  color: black;
}

.bg-yellow ul {
  color: black;
}
.all-dev-2{
  display: flex;
  justify-content: center;
}

.sale-p {
  position: relative;
  ;
}

.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 25px;
  /* border: 1px solid black; */
  right: 0px;
  top: -11px;
  color: aliceblue;
  text-align: center;
  background-color: orange;
}

.new-p {
  position: relative;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: -30px;
  width: 50px;
  height: 25px;
  background-color: yellow;
  color: black;
  text-align: center;

}

@media screen and (max-width:1371px) { 
  .all-dev ul {
 font-size: 12px;
  }
  
}

/* *************main-c********** */
.main-c-img {
  width: 100%;
  border-radius: 20px;
  z-index: -99;
  height: 592px;
  object-fit: cover;
  image-orientation: right;


}

.main-c {
  /* padding-top: 20px;
   padding-bottom: 20px; */
  position: relative;
  background-color: rgb(255, 228, 228);
  border-radius: 40px;

}

.main-c-text ul {
  list-style-type: none;
  position: absolute;
  top: 28%;
  left: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* line-height: px; */
  font-size: 20px;
}

.main-c-text .mob {
  background-color: blue;
  color: azure;
  width: 80px;
  /* height: 50px; */
  /* align-items: center; */
  text-align: center;
  padding: 5px;
  border-radius: 6px;
}
.learn-button {
  background: none;
  border-radius: 6px;
  color: black;
}
.main-c-text .best {
line-height: 48px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.img-col {
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  position: relative;
  /* padding-bottom: 30px!important; */
  

}
.img-col2{
  padding-bottom: 30px;
}
@media  screen and (min-width:1121px) {
  .img-col{
    padding-left: 0px;
    padding-right:6px;
  }
  .img-col2 {
     /* padding-bottom: 30px;  */
    padding-right: 0px;
    padding-left: 6px;
  }
}

.owlSecond{
  padding-bottom: 10px !important;
}
.img-col .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
  position: absolute;
  bottom: 8%;
  left: 2%;
}
.img-col .owl-theme .owl-dots .owl-dot span{
  width: 27px;
}
.img-col .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.up img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 20px;
}

.down img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 20px;
}

.up {
  background-color: rgb(255, 245, 242);
  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;


}

.down {
  /* background-color: rgb(255, 245, 242) */
  border-radius: 20px;
  position: relative;
}

.wear {
  /* padding-top: 30px; */
  padding-left: 10px;
  position: absolute;
  left: 17px;
  top: 17%
}

.wear h1 {
  color: blue;
  font-size: 20px;
  font-weight: 100;
}

.wear p {
  font-size: 37px;
  font-weight: 800;
  line-height: 40px;
}

.build {
  /* padding-top: 30px;
   */
    padding-left: 10px;
  position: absolute;
  left: 17px;
  top: 17%
}

.build h1 {
  color: blue;
  font-size: 20px;
  font-weight: bolde100r;
}

.build p {
  font-size: 37px;
  line-height: 40px;
  font-weight: bolder;
}

@media screen and (max-width:1199px) {
  .img-col2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .up {
    width: 49%;
  }

  .down {
    width: 49%;
  }
}

@media screen and (max-width:430px) {
  .img-col2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .up {
    width: 100%;
  }

  .down {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .main-c-text .best {
    /* background-color: blue; */
    /* color: azure; */
    /* width: 80px; */
    font-size: 35px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  }

  .wear p , .build p{
    font-size: 25px;
    line-height: 30px;
  }
}

/* ******************* */
.dark {
  /* background-color: #161414; */
  background-color: #404b62;
}

.dark1 {

  display: flex;
  column-gap: 40px;
  color: aliceblue;

  /* align-items: center; */
}


@media screen and (min-width:1200px){
  .dark1-03{
    justify-content: center;
  }
}

.dark ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark02 {

  
    padding-top: 26px;
    padding-bottom: 26px;

}

.dark1 ul .f-c {
  font-weight: bolder;
}

.round {
  width: 70px;
  height: 70px;
  border: 4px solid rgb(63, 0, 235);
  border-radius: 50px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(231, 116, 59);
}

@media screen and (max-width:1199px) {
  .dark1 {
    padding-bottom: 10px;
  }
}

@media screen and (min-width:1200px) {
  .last-dark-c {
    justify-content: end;
  }
}

/* ****************main02-why-you-buy-from******************* */
.main2-01 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
}

.main2-01 h1 {
  font-size: 35px;
  font-weight: bolder;
}

.line-p {
  display: flex;
  justify-content: center;
}

.line-c {
  /* border: 2px solid orangered; */
  width: 60px;
  /* height: 20px; */
  padding-bottom: 20px;
  border: none;
  border-top: 2px solid orangered;

}

.main2-02 p {
  font-size: 18px;
  padding-bottom: 30px;
  opacity: 60%;
}

@media screen and (max-width:740px) {
  .line-p {
    justify-content: start;
  }

  .main2-01 {
    text-align: start;
  }

  .main2-02 {}
}

/* ******BOX**** */
.box-p {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  flex-wrap: wrap;
  /* width: 100px; */

}

.box-c {
  border-left: 1px solid black;
  background-color: rgb(221, 223, 225);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  width: 180px;
  font-size: 17px;
  text-align: center;
  position: relative;
}
.box-c:nth-child(1){
  /* border: none !important; */
}

.boxc1 , .boxc1-feature , .boxc1-blog{
  background-color: blue;
  color: aliceblue;
  border: none;
}

.boxc1:after , .boxc1-blog:after,.boxc1-feature::after {
  content: "";
  position: absolute;
  /* width: 10px;
  height: 10px; */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
  right: 42%;
  bottom: -8px;
}




/* **********************curciv photos**************** */
.item {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.item img {
  height: 370px;
  object-fit: cover;
  border-radius: 20px;
}

.item-c {
  position: absolute;
  padding-left: 31px;
  padding-right: 32px;
  height: 30px;
  bottom: 10%;
  /* width: 200px; */
  left: 31%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.owl-theme {
  padding-bottom: 30px;
}



/* ***************************main03****************** */
.main03-sec {
  background-color: rgb(246, 243, 243);
  padding-bottom: 20px;
}

.item02 {
  /* margin-left: 5px;
  margin-right: 5px; */
  position: relative;
  height: 560px;
  margin-left: 5px;
  border-radius: 5px;
  margin-right: 5px;
  /* border: 2px solid black; */
  /* background-color: aliceblue; */
  overflow: hidden;
  /* border-radius: 20px; */
  border: 1px solid rgba(86, 85, 85, 0.286)
}

.item02 img {
  height: 60%;
  object-fit: cover;
}

.item02-c1 {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 14px;
  background-color: rgb(219, 219, 220);
  font-weight: 100;
  opacity: 68%;
}

.item02-c2 {
  /* padding-top: 3px; */
  /* padding-bottom: px; */
  margin-top: -10px;
  padding-left: 14px;
  padding-right: 14px;
}

.item02-c3 {
  
  padding-left: 15px;
  padding-right: 15px;
}

.item02-c2 h1 {
  /* padding-top: 0; */
  font-size: 20px;
  font-weight: bold;
}
s{
  margin-left: 10px;
}

.item02-c2 p {
  /* word-spacing: 10px;
  marg */
  /* margin-left: 16px;
   */
   font-size: 16px;
}

.item02-c3 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  padding-bottom: 13px;

}

.item02-c3 span {
  word-spacing: 15px;
  font-size: 23px;

}

.item02-c3 input[type='number'] {
  width: 55px;
  height: 36px;
  text-align: center;
}
.main-03-see-all-product .fa-arrow-right {
  content: "\f061";
  padding-left: 10px;
  padding-right: 10px;
}
.item02-c3 input[type='button'] {
  width: 120px;
  height: 36px;
  color: aliceblue;
  background-color: blue;
}

.item02-c4 {
  background-color: rgb(219, 219, 220);
  padding-left: 10px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 10px;
  opacity: 80%;
}

.item02-c4 p {
  font-size: 18px;
}

.fa-sack-dollar {
  color: green;

}

.fa-circle-question {
  color: red;
}

.lebels-1 {
  position: relative;
  /* overflow: hidden; */

}

.lebels-c1 {
  position: absolute;
  top: 37px;
  left: -34pxx;
  left: -35px;
  /* width: 100%; */
  width: 184px;
  height: 25px;
  background-color: blue;
  color: aliceblue;
  text-align: center;
  transform: rotate(-43deg);
  font-size: 14px;
}

/* @media screen and (max-width:999px){
  .lebels-c1{
    left: -94px;
    top: 11%;
}
  } */


 .item02-c4 .fa-solid, .fas {
    font-weight: 900;
    /* padding: 7px; */
}
.lebels-c22 {
  background-color: orangered;
}

.lebels-c2 {
  position: absolute;
  width: 40px;
  height: 24px;
  right: 13px;
  top: 16px;
  background-color: orangered;
  text-align: center;
  color: aliceblue;
}

.lebels-c3 {
  top: 45px;
  background-color: green;

}

@media screen and (max-width:630px) {
  .item02-c4 {
    display: none;
  }

  .item02-c3 input[type='button'] {
    display: none;
  }
}
@media screen and (max-width:666px) {
  .item02{
 height: 430px;
  }
  .item02-c3 input[type='button'] {
    width: 100px;
    height: 36px;
    
}
}

.shopping-cart-at630 {
  background-color: blue;
  color: aliceblue;
  font-size: 20px;
  padding: 5px;
  height: 35px;
}

#show-feature .owl-carousel .owl-stage-outer {
   padding-bottom: 12px; 
}
.main03-sec {
  background-color: rgb(246, 243, 243);
  padding-bottom: 31px;
}

@media screen and (min-width:630px) {
  .item02-c3 .shopping-cart-at630 {
    display: none;

  }
}

.main-03-see-all-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-03-see-all-product p {
  background-color: blue;
  color: aliceblue;
  padding: 10px;
  padding: 16px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: bolder;
}

/* ***************************main04-feature-catagories************************************************main-04***************************> */
.main-04 {
  padding-bottom: 60px;
  background-color: rgb(230, 230, 230);
}
.main04-feature-catagories-container{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main04-feature-catagories-container p{
 font-size: 16px;
 opacity: 70%;
}
 @media screen and (max-width:740px){
  .main04-feature-catagories-container{
    text-align: start;
  }
 }
.main-04-img-block {
  display: flex;
  height: 540px;
  /* width: 350px; */
  border: 1px solid black;
  /* padding: 10px; */
  overflow: hidden;
  /* width: 200px; */

}

.main-04-feature-h1 {
  font-size: 40px;
  /* font-weight: bold; */

}

.main-04-img-block-child1 {
  padding: 20px;
  width: 330px;
  height: 100%;
  background-color: rgb(205, 207, 209);
}

.main-04-img-block-child2 {
  padding: 20px;
  /* width: 330px; */
  height: 100%;
  /* background-color: rgb(205, 207, 209); */
}

.main-04-image {
  height: 300px;
  width: 300px;

  object-fit: cover;
  border-radius: 10px;
}

.line-p-main04 {
  justify-content: start;
}

.main-04-list ul {
  padding-top: 10px;
  list-style-type: none;
}
.text-container{
  padding-bottom: 50px;
}
.cart-container{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
}
.cart-container h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.item04 {
  border: 1px solid black;
  /* padding-left: 20px;
padding-right: 20px; */
  height: 100%;

}

.item04 img {
  height: 300px;
  width: 300px !important;
  object-fit: cover;
}

.item-04-owl img {
  height: 300px !important;
}


.item-main-04 {
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.fashion-container01 {
  padding-bottom: 20px !important;

  display: flex;
  justify-content: center;
}



.fashion-container01 .fashion {
  padding: 0px 30px;
  background-color: #b9b9b985;
  width: 330px;

}

.fashion-container01 .new-fashion-container {
  padding: 0px 30px;
  overflow: hidden;
  background-color: white;

}

.fashion-container01 .fashion span, .new-fashion-container span {
  font-size: 27px;
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 12px;
  font-weight: bold;
}
.cart-container hr{
margin-top: 0px;
margin-bottom: 0px;
    height: 1px;
    background-color: #af9d9d;
    border: none;
}

.fashion-container01 .fashion .hr, .new-fashion-container .hr {
  width: 107px;
  padding: 1.5px;
  background-color: #e74a0a;
  border: none;
}

.fashion-container01 .fashion .text-container p {
  font-size: 19px;
  /* padding-top: 7px; */
  color: rgb(68, 66, 66);
}

.fashion-container01 .fashion .text-container a {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: blue;
  font-size: 20px;
  font-weight: bold;


}

.fashion-container01 .fashion img {

  margin-bottom: 10px;
  width: 270px;
  height: 290px;
  object-fit: cover;
  border-radius: 7px;
  overflow: hidden;
}



.image-main-04 {
  padding-top: 0px;
  margin-top: 0px !important;
  
}

.lebels-04-main-3 {
  top: 18px;
  background-color: orangered;
  width: auto;

}

@media screen and (max-width:1399px) {
  .lebels-04-main-2 {
    top: 10px;
  }

}
.featured-products-card{
  border: 1px solid rgba(105, 101, 101, 0.612);
}

@media screen and (max-width:1084px) {
  .fashion-container01 .new-fashion-container {
    padding: 20px 30px;
    width: 1320px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }

  .new-fashion-container .fashion-card img {
    width: 100% !important;
    /* height: 200px; */
    object-fit: cover;
    /* border-radius: 8px; */
  }
}


  .item-main-04 img {
    border-radius: 0px;
    height: 300px;

}
.fashion-container01 .cart-container h2, .fashion-container01 .cart-container p {
  font-weight: normal !important;
  color: #1313ab;
  font-size: 20px;
  /* padding-top: 5px; */
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}



@media screen and (max-width:772px) {
  .fashion-container01 .fashion {
    width: 100%;
  }

  .fashion-container01 .fashion img {

    width: 100%;

  }

  .fashion-container01 {
    flex-wrap: wrap;
  }

}
.cart-container p{
color: black!important;
}
.fashion-container01 .price {
  /* padding-bottom: 10px !important; */
}

.fashion-container01 .add-to-cart-container {
  /* padding-top: 20px !important; */
  display: flex;
  padding-top: 26px;
  padding-bottom:26px;
  justify-content: space-between;
}

.fashion-container01 .cart-container h2,
.fashion-container01 .cart-container p {
  font-weight: bold !important;
}

.new-fashion-container .categories-card-carosel .owl3 .item {
  padding: 2px;
}

.new-fashion-container .categories-card-carosel .owl3 .item .featured-products-card {
  box-shadow: 0px 0px 2px 1px gray;
}

.new-fashion-container .categories-card-carosel img {
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}


.owl3 input[type='button'] {
  width: 110px;
  height: 32px;
  font-size: 13px !important;

}

.owl3 .add-to-cart-container div i {
  padding-top: 5px;
  font-size: 22px !important;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  /* color: aliceblue; */
  background-color: #0037ffd4;
  padding: 3px;
  border-radius: 4px;
  color: white;
}

.heart-exchange-fashion{
  font-size: 20px;
  word-spacing: 10px;
}
/* ********************************main05******************** */
.main-05 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.item-brand {
  margin-left: 10px;
  margin-right: 10px;
}

.item-brand img {
  height: 150px;
  width: 180px;
  object-fit: cover;
  border: 1px solid #c7bdbd91;
  border-radius: 10px;
}

@media screen and (max-width:650px){
  .item-brand img {
    height: 140px;
    width: 120px;
  }
}
@media screen and (max-width:443px){
  .item-brand img {
    height: 120px;
    width: 110px !important;
  }
}

/* ****************************main06*********************** */
.main-06 {
  background-color: #404b62;
  padding-bottom: 60px!important;
  padding-top: 20px;
}

.main-06-h1 {
  color: aliceblue;
}

.main-06-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-06-image .item-brand img {
  width: 180px;
  margin-top: 20px;
  margin-bottom: 10 px;
}

/* ****************************main07************************ */
.main-07 {
  background-color: rgb(241 239 239 / 35%);
}
.item-main-07 {
 
  height: 800px;
  border-radius: 20px;
  background-color: aliceblue;
}

.item-main-07 img {
  height: 50%;
  border-radius: 20px 20px 0px 0px;
  /* height: 600px; */
}

.item-main-07-jurnal {
  /* padding-top: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

 .aug {
  position: absolute;
  background-color: blue;
  color: aliceblue;
  top: 10px;
  left: 20px;
  padding: 7px 16px 7px 16px;
  text-align: center;
   border-radius: 6px; 
   line-height: 16px;
}

.item-main-07-jurnal p {
  text-align: center;
  font-size: 18px;
  font-size: 20px;
  opacity: 80%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}
.item-main-07-jurnal p a{
  color: black;
}

.item-main-07-jurnal h1 {
  font-weight: bold;
}

.main-07-admin {
  background-color: rgba(192, 192, 191, 0.451);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  word-spacing: 10px;
}
.from-our-blog-img .main-07-admin i ,span {
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width:1310px) {
  .item-main-07-jurnal p {
    /* text-align: center;
    font-size: 18px; */
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;

  }

  .item-main-07-jurnal .item-main-07-p1 {
    /* text-align: center;
    font-size: 18px; */
    font-size: 18px;
    padding-top: 25px;
  
  }
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 26px!important;
}

/* ****************************main08********************** */
.main-08{
  padding-top: 20px;
}
.item-main-08 {
  height: 400px;
  padding-top: 50px;
  background-color: rgb(255, 255, 255) !important;

}

.fa-quote-left {
  font-size: 60px;
  color: orangered;
}

.item-main-08-jurnal {
  background-color: none;
}

/* ************************main09********************* */

.main-09 {
  background-color: #404b62;
  padding-bottom: 14px;
}


.item-09 {
  height: 100px;
  background-color: aliceblue;
  border-radius: 10px;
  margin-left: 15px;

}

.main-09-c1 h1 {
  color: aliceblue;
  text-align: start;
  font-size: 20px;
}
.main-09-c1-line-c{
  width: 135px;
}
.main-09-c1-line-p {
  /* text-align: start;
   */
   display: block;
}

.item-c-09 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  column-gap: 20px;
  padding: 10px;
}

.item-c1-09 img {
  width: 80px !important;
  /* padding: 10px!important; */

  /* height:100px; */
}

.item-c2-09{
  background: none;
  color: black;
  row-gap: 5px;
  display: flex;
  flex-direction: column;

}

.item-c2-09 h1 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 21px;

}

.item-c2-09 p {
  word-spacing: 20px;
  opacity: 60%;
  margin: 0px -8px 0px !important;
}
.item-c2-09 p .fa-cart-shopping-item09{
  
 background: none;
 color: black;
}
.item-c2-09 p .fa-cart-heart-item09 , .item-c2-09 p .fa-cart-arrow-item09{
  
font-size: 19px;
}
.item-c2-09 {
  
    background: none;
    color: black;

}
@media screen and (max-width:1000px) {
  .item-09 {
    height: 300px;
    padding-top: 10px;
  }

  .item-c-09 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .item-c1-09 img {
     width: 200px !important;
    height: 150px;
    object-fit: cover;
  }
 
}
@media (min-width: 950px) and (max-width:1000px){
  .item-c1-09 img {
    width: 247px !important;
    height: 150px;
    object-fit: cover;
    /* margin-left: -50px; */
  }
  .item-c2-09 {
    margin-left: -134px;
    padding-top: 10px;
}
}
@media screen and (max-width:949px) {
  .item-c2-09 {
    margin-left: -84px;
    padding-top: 10px;
}
}
@media screen and (max-width:773px) {
  
.item-c1-09 img {
  width: 170px !important;

}
.item-c2-09 {
  margin-left: -66px;
  padding-top: 10px;
}
}
@media screen and (max-width:389px){
  .item-c1-09 img {
    width: 265px !important;
  
  }
  .item-c2-09 {
    margin-left: -160px;
    padding-top: 10px;
  }

}
@media screen and (max-width:344px){
  .item-c1-09 img {
    width: 230px !important;
  
  }
  .item-c2-09 {
    margin-left: -120px;
    padding-top: 10px;
  }

}
@media (min-width: 620px) and (max-width:699px){
  .item-c1-09 img {
    width: 230px !important;
  
  }
  .item-c2-09 {
    margin-left: -120px;
    padding-top: 10px;
  }
}
@media (min-width: 500px) and (max-width:619px){
  .item-c1-09 img {
    width: 180px !important;
  
  }
}
@media (min-width: 390px) and (max-width:459px){
  .item-c1-09 img {
    width: 310px !important;
  
  }
  .item-c2-09 {
    margin-left: -190px;
    padding-top: 10px;
  }
}
/* **************************main-10****************** */
.main-10 {
  background-color: #d9d7d094;
  padding-top: 20px;
  padding-bottom: 14px;
}


.social-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.social-10 p {
  font-size: 50px;
  color: blue; 


}

/* *******************.footer-sec-main-****************** */
.footer-sec-main_sec {
  background-color: rgb(243, 243, 244);
}

.footer-sec-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-sec-main .foot-nav .h2{
   margin-top: 0px !important;
   margin-bottom: 0px!important; 
}

.footer-sec-main div {
  padding-left: 10px;
  width: 290px;
  border-left: 1px solid rgb(184, 182, 182);
}

.foot-nav{
  /* border-left: none !important; */
  overflow-x: hidden;
}
.footer-sec-main-1{
  border-left: none!important;
}

.footer-sec-main div h2 {
  font-size: 27px;
}

.footer-sec-main div hr {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1px;
  background-color: #e74a0a;
  border: none;
}

.footer-sec-main div ul li {
  list-style-type: none;
  color: blue;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
}


.footer-sec-main div .paragraph {
  font-size: 22px;
  opacity: 60%;
  width: 100%;
  /* padding-bottom: 34px; */
  padding-top:27px ;
  padding-bottom: 27px;
 
}

.footer-sec-main div input[type="email"] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px !important;
  height: 45px;
  /* margin-top: 10px; */
  outline: none;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 5px;
border: 1px solid rgba(138, 133, 133, 0.491);
  padding-right: 60px;
}

.foot-input-con{  
  
  /* border-right: none!important; */
  padding: 0!important;
  position: relative;
   border: none !important;
}


.button-send {
background-color: #1138e7;
  border-radius: 5px;
  border: none;
  height: 36px;
  width: 60px;
  right: 45px;
  top: 9%;
  position: absolute;
}
.button-send .fa-envelope{
  padding-right: 5px
  ;
}
.footer-sec-main div p {
  /* padding-top: 10px; */
  opacity: 60%;
}

.Privacy {
  color: blue;
}
@media screen and (max-width:1322px){
  .footer-sec-main div{
    border: none!important;
  }
}
@media screen and (max-width:890px){
  .button-send{
    right: 38px;
  }
  .footer-sec-main div input[type="email"] {
    width: 215px !important;
  }
}

@media screen and (max-width:1844px) {
  .footer-sec-main div {
    border-right: 0;
  }
}
@media screen and (max-width:1000px) {
  .copyright-div{
    flex-direction: column;
    justify-content: center !important;
    text-align: center;
  }
  .up-arrowand-img-container{
    justify-content: center;
  }
}

@media screen and (max-width:890px) {
  .footer-sec-main div {
    width: 250px;
  }
  .footer-sec-main div input[type="email"] {
    width: 100%;
  }
}


/* ***************copyright-sec*************** */
.copyright_sec{
  background-color: #52596a;
}
.copyright-div{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.copyright-div p {
  padding-top: 20px;
  font-size: 20px;
  color: aliceblue;
}
.copyright-div img{
  width: 350px;
}

@media screen and (max-width:404px){
  .copyright-div img{
    width: 250px;

  
  }
}
.up-arrowand-img-container{
  display: flex;
}
.up-arrowand-img-container a{
  padding: 10px;
  background-color: #0037ff;
}
.up-arrowand-img-container a i {
  color:white
}

/* *******
 */
 .show-in-js{
  display: none;
 }
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #c45200 !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
  padding-right: 10px;
  height: 30px; 
  /* width: 5p  x; */
}