*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}  
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 500px;
    /* padding: 50px 0; */
    height: 395px;
    object-fit: cover;

}
@media screen and (max-width:632px){
    .col-2 img{
        display: none;
    
    }
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

/* /-------footer----/ */

.footer-sec-main_sec {
    background-color: rgb(243, 243, 244);
  }
  
  .footer-sec-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-sec-main .foot-nav .h2{
     margin-top: 0px !important;
     margin-bottom: 0px!important; 
  }
  
  .footer-sec-main div {
    padding-left: 10px;
    width: 290px;
    border-left: 1px solid rgb(184, 182, 182);
  }
  
  .foot-nav{
    /* border-left: none !important; */
    overflow-x: hidden;
  }
  .footer-sec-main-1{
    border-left: none!important;
  }
  
  .footer-sec-main div h2 {
    font-size: 20px;
  }
  
  .footer-sec-main div hr {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
  }
  
  .footer-sec-main div ul li {
    list-style-type: none;
    color: blue;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
  }
  
  
  .footer-sec-main div .paragraph {
    font-size: 22px;
    opacity: 60%;
    width: 100%;
    /* padding-bottom: 34px; */
    padding-top:27px ;
    padding-bottom: 27px;
   
  }
  
  .footer-sec-main div input[type="email"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px !important;
    height: 45px;
    /* margin-top: 10px; */
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
  border: 1px solid rgba(138, 133, 133, 0.491);
    padding-right: 60px;
  }
  
  .foot-input-con{  
    
    /* border-right: none!important; */
    padding: 0!important;
    position: relative;
     border: none !important;
  }
  
  
  .button-send {
  background-color: #1138e7;
    border-radius: 5px;
    border: none;
    height: 36px;
    width: 60px;
    right: 45px;
    top: 9%;
    position: absolute;
  }
  .button-send .fa-envelope{
    padding-right: 5px
    ;
  }
  .footer-sec-main div p {
    /* padding-top: 10px; */
    opacity: 60%;
  }
  
  .Privacy {
    color: blue;
  }
  @media screen and (max-width:1322px){
    .footer-sec-main div{
      border: none!important;
    }
  }
  @media screen and (max-width:890px){
    .button-send{
      right: 38px;
    }
    .footer-sec-main div input[type="email"] {
      width: 215px !important;
    }
  }
  
  @media screen and (max-width:1844px) {
    .footer-sec-main div {
      border-right: 0;
    }
  }
  @media screen and (max-width:1000px) {
    .copyright-div{
      flex-direction: column;
      justify-content: center !important;
      text-align: center;
    }
    .up-arrowand-img-container{
      justify-content: center;
    }
  }
  
  @media screen and (max-width:890px) {
    .footer-sec-main div {
      width: 250px;
    }
    .footer-sec-main div input[type="email"] {
      width: 100%;
    }
  }
  


/* /-------account-page-----/ */
.account-page{
    padding: 50px 0;
    background: lightgrey;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align:center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;

}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;

}





   /* /------ media query for less then 600 screen size------/ */

   @media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
   }
   }